// Breackpoints
$minMobile: 'min-width: 375px';
$minTablet: 'min-width: 768px';
$minDesktop: 'min-width: 1200px';

$color-primary: #409EFF !default;
$color-success: #67c23a !default;
$color-warning: #e6a23c !default;
$color-danger: #f56c6c !default;
$color-info: #909399 !default;
