.icon {
  padding: 0 5px !important;
  font-size: 1rem !important;

  &--hoverable {
    cursor:pointer;
  }

  &--large {
    font-size: 1.125rem !important;
  }

  &--success {
    color: $color-success !important;
  }

  &--warning {
    color: $color-warning !important;
  }

  &--primary {
    color: $color-primary !important;
  }

  &--danger {
    color: $color-danger !important;
  }
}