<template>
  <el-header>
    <LangChooser />
    <UserPanel />
  </el-header>
</template>

<script>
import LangChooser from '@/components/LangChooser.vue';
import UserPanel from '@/components/UserPanel.vue';

export default {
  components: { LangChooser, UserPanel },
};
</script>

<style lang="scss">
.el-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
