<template>
  <el-header>
    <LangChooser />
  </el-header>
</template>

<script>
import LangChooser from '@/components/LangChooser.vue';

export default {
  components: { LangChooser },
};
</script>
