<template>
  <div class="clients">
    <el-row
      type="flex"
      justify="center"
    >
      <el-col
        :lg="6"
        :md="12"
        :sm="18"
        :xs="24"
      >
        <h1>
          {{ $t('clients.title') }}
        </h1>
      </el-col>
    </el-row>
    <el-row
      type="flex"
      justify="center"
      style="margin-bottom: 20px"
    >
      <el-col
        :lg="18"
      >
        <el-row
          type="flex"
          style="margin-bottom: 10px"
        >
          {{ $t('clients.clientsQuantityOnPage') }}
        </el-row>
        <el-row
          type="flex"
        >
          <el-col
            :lg="2"
            :sm="4"
            :xs="6"
          >
            <el-select
              v-model="limitNumber"
              @change="changeLimit"
            >
              <el-option
                v-for="(number, index) in limits"
                :key="index"
                :label="number"
                :value="number"
              />
            </el-select>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
    <el-row
      type="flex"
      justify="center"
    >
      <el-col
        :lg="18"
      >
        <el-table
          :data="clients"
          border
          resizable
          style="width: 100%"
          v-loading="loading"
          empty-text="Ничего не найдено"
        >
          <el-table-column
            prop="email"
            :label="$t('clients.name')"
          />
          <el-table-column
            prop="surname"
            :label="$t('clients.surname')"
          />
          <el-table-column
            prop="email"
            :label="$t('clients.email')"
          />
          <el-table-column
            prop="phone"
            :label="$t('clients.phone')"
          />
          <el-table-column
            prop="adding_date"
            :label="$t('clients.adding_date')"
          />
          <el-table-column
            prop="status"
            :label="$t('clients.status')"
          >
            <template slot-scope="scope">
              <span v-if="scope.row.status === 'current'">
                {{ $t('clients.current') }}
                <el-popover
                  popper-class="popper"
                  trigger="hover"
                  placement="top"
                >
                  <i
                    class="el-icon-success icon icon--hoverable icon--success"
                    slot="reference"
                  />
                  <p>
                    {{ $t('clients.last_sell') }}:
                    {{ scope.row.last_sell | formatDate }}
                  </p>
                </el-popover>
              </span>
              <span v-if="scope.row.status === 'former'">
                {{ $t('clients.former') }}
                <el-popover
                  trigger="hover"
                  placement="top"
                  popper-class="popper"
                >
                  <i
                    class="el-icon-warning icon icon--hoverable icon--warning"
                    slot="reference"
                  />
                  <p>
                    {{ $t('clients.last_sell') }}:
                    {{ scope.row.last_sell | formatDate }}
                  </p>
                </el-popover>
              </span>
              <span v-if="scope.row.status === 'potential'">
                {{ $t('clients.potential') }}
                <el-popover
                  trigger="hover"
                  placement="top"
                  popper-class="popper"
                >
                  <i
                    class="el-icon-question icon icon--hoverable icon--primary"
                    slot="reference"
                  />
                  <p>
                    {{ $t('clients.last_sell') }}:
                    {{ scope.row.last_sell | formatDate }}
                  </p>
                </el-popover>
              </span>
              <span style="margin-left: 10px">{{ scope.row.date }}</span>
            </template>
          </el-table-column>
          <el-table-column
            fixed="right"
            width="100"
          >
            <template slot-scope="scope">
              <el-popover
                trigger="hover"
                placement="top"
                :content="$t('edit')"
              >
                <el-button
                  type="text"
                  slot="reference"
                  class="el-icon-edit icon icon--hoverable icon--large icon--primary"
                  @click="editClient(scope.$index, scope.row)"
                />
              </el-popover>
              <el-popover
                trigger="hover"
                placement="top"
                :content="$t('delete')"
              >
                <el-button
                  type="text"
                  slot="reference"
                  class="el-icon-delete icon icon--hoverable icon--large icon--danger"
                  @click="deleteClient(scope.$index, scope.row)"
                />
              </el-popover>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row
      type="flex"
      justify="center"
    >
      <el-col
        :lg="18"
      >
        <el-pagination
          small
          layout="prev, pager, next"
          :total="clients.length"
        />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import errorHandlerMixin from '@/mixins/errorHandler';

export default {
  name: 'Clients',
  data() {
    return {
      clients:[],
      limits: [ 5, 10, 15, 20 ],
      limitNumber: 5,
    };
  },
  mixins: [ errorHandlerMixin ],
  methods: {
    ...mapActions('clients', [ 'getClients' ]),
    async fetchClients() {
      try {
        this.clients = await this.getClients();
      } catch (error) {
        this.handleError(error);
      }
    },
    ...mapActions('clients', [ 'setLimit' ]),
    editClient(){
      console.log('edit');
    },
    deleteClient() {
      this.$confirm(`${this.$t('confirm_delete')}`, {
        confirmButtonText: `${this.$t('OK')}`,
        cancelButtonText: `${this.$t('Cancel')}`,
        type: 'warning',
      }).then(() => {
        console.log('delete');
      }).catch(() => {
        this.$message({
          type: 'info',
          message: `${this.$t('delete_canceled')}`,
        });          
      });
    },
    changeLimit() {
      this.setLimit(this.limitNumber);
    },
  },
  async created() {
    await this.fetchClients();
    const limitNumber = window.localStorage.getItem('limitNumber');
    if (limitNumber) {
      this.setLimit(limitNumber);
      this.limitNumber = limitNumber;
    }
  },
  computed: {
    ...mapState('loading', [ 'loading' ]),
  },
};
</script>

<style lang="scss">
.el-popover.popper {
  padding: 6px 12px;
}

.clients .el-table {
  font-size: 1rem;
}

.clients .cell {
  display: flex;
  justify-content: space-between;
}
  
</style>
