<template>
  <div>
    <el-row
      type="flex"
      justify="center"
    >
      <el-col
        :lg="6"
        :md="12"
        :sm="18"
        :xs="24"
      >
        <h1>{{ $t('sign_in') }}</h1>
        <el-form
          :model="ruleForm"
          status-icon
          :rules="rules"
          ref="ruleForm"
        >
          <el-form-item
            :label="$t('enter_email')"
            prop="email"
          >
            <el-input
              type="email"
              v-model="ruleForm.email"
              autocomplete="off"
            />
          </el-form-item>
          <el-form-item
            :label="$t('enter_password')"
            prop="password"
          >
            <el-input
              type="password"
              v-model="ruleForm.password"
              autocomplete="off"
              show-password
            />
          </el-form-item>
          <el-form-item>
            <el-button
              type="primary"
              @click="submitForm"
              :loading="loading"
            >
              {{ $t('login.login') }}
            </el-button>
            <el-button @click="resetForm">
              {{ $t('reset') }}
            </el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
    <el-row
      type="flex"
      justify="center"
    >
      <el-col
        :lg="6"
        :md="12"
        :sm="18"
        :xs="24"
      >
        <router-link
          to="/registration"
          class="el-link el-link--primary"
        >
          {{ $t('sign_up') }}
        </router-link>
        <span> / </span>
        <el-button
          type="text"
          @click="showForgotPasswordDialog = true"
        >
          {{
            $t('login.forgot_password') }}?
        </el-button>
      </el-col>
    </el-row>
    <ForgotPasswordDialog
      :show-forgot-password-dialog.sync="showForgotPasswordDialog"
      :custom-class="'forgotPasswordDialog'"
      @sendEmail="sendEmail"
    />
  </div>
</template>

<style lang="scss" scoped>
h1 {
  text-align: center;
}
</style>

<script>
import { mapState, mapActions } from 'vuex';
import ForgotPasswordDialog from '@/components/Dialogs/ForgotPasswordDialog.vue';
import errorHandlerMixin from '@/mixins/errorHandler';

export default {
  components: { ForgotPasswordDialog },
  data() {
    return {
      ruleForm: {
        email: '',
        password: '',
      },
      showForgotPasswordDialog: false,
    };
  },
  computed: {
    ...mapState('loading', [ 'loading' ]),
    rules() {
      const rules = {
        email: [
          { required: true, message: this.$t('enter_email'), trigger: 'blur' },
          {
            type: 'email',
            message: this.$t('enter_correct_email'),
            trigger: [ 'blur', 'change' ],
          },
        ],
        password: [
          { required: true, message: this.$t('enter_password'), trigger: 'blur' },
          {
            min: 3,
            max: 50,
            message: `${this.$t('password_numbers')} 3-50`,
            trigger: 'blur',
          },
        ],
      };
      return rules;
    },
  },
  mixins: [ errorHandlerMixin ],
  methods: {
    ...mapActions('user', [ 'authUser', 'recoverPassword' ]),
    async submitForm() {
      this.$message.closeAll();
      this.$refs.ruleForm.validate((valid) => {
        if (valid) {
          this.authUser({
            email: this.ruleForm.email,
            password: this.ruleForm.password,
          }).then(() => {
            this.$router.push({ name: 'Clients' });
          }).catch((error) => {
            this.handleError(error);
          });
        }
      });
    },
    resetForm() {
      this.$refs.ruleForm.resetFields();
    },
    sendEmail(email) {
      this.recoverPassword({ email }).then(() => {
        this.$message.success(this.$t('login.password_send_success'));
        this.showForgotPasswordDialog = false;
      }).catch((error) => {
        this.handleError(error);
      });
    },
  },
};
</script>
