<template>
  <div>
    <el-row
      type="flex"
      justify="center"
    >
      <el-col
        :lg="9"
        :md="15"
        :sm="21"
        :xs="24"
      >
        <div>
          <h1>{{ $t('sign_up') }}</h1>
          <el-form
            :model="regForm"
            status-icon
            :rules="rules"
            ref="regForm"
          >
            <el-form-item
              :label="$t('enter_email')"
              prop="email"
            >
              <el-input
                type="email"
                v-model="regForm.email"
                autocomplete="off"
              />
            </el-form-item>
            <el-form-item
              :label="$t('enter_password')"
              prop="password"
            >
              <el-input
                type="password"
                v-model="regForm.password"
                autocomplete="off"
                show-password
              />
            </el-form-item>
            <el-form-item>
              <el-button
                type="primary"
                @click="submitForm"
                :loading="loading"
              >
                {{ $t('sign_up') }}
              </el-button>
              <el-button
                @click="resetForm"
              >
                {{ $t('reset') }}
              </el-button>
            </el-form-item>
          </el-form>
        </div>
      </el-col>
    </el-row>
    <el-row
      type="flex"
      justify="center"
    >
      <el-col
        :lg="6"
        :md="12"
        :sm="18"
        :xs="24"
      >
        <router-link
          to="/login"
          class="el-link el-link--primary"
        >
          {{ $t('sign_in') }}
        </router-link>
      </el-col>
    </el-row>
  </div>
</template>

<style lang="scss" scoped>
h1 {
  text-align: center;
}
</style>

<script>
import { mapState, mapActions } from 'vuex';
import errorHandlerMixin from '@/mixins/errorHandler';

export default {
  mixins: [ errorHandlerMixin ],
  data() {
    return {
      regForm: {
        email: '',
        password: '',
      },
    };
  },
  computed: {
    ...mapState('loading', [ 'loading' ]),
    rules() {
      const rules = {
        email: [
          { required: true, message: this.$t('registration.enter_email'), trigger: 'blur' },
          {
            type: 'email',
            message: this.$t('enter_correct_email'),
            trigger: [ 'blur', 'change' ],
          },
        ],
        password: [
          { required: true, message: this.$t('enter_password'), trigger: 'blur' },
          {
            min: 3,
            max: 50,
            message: `${this.$t('password_numbers')} 3-50`,
            trigger: 'blur',
          },
        ],
      };
      return rules;
    },
  },
  methods: {
    ...mapActions('user', { regUser: 'registrationUser' }),
    async submitForm() {
      this.$message.closeAll();
      this.$refs.regForm.validate((valid) => {
        if (valid) {
          this.regUser({
            email: this.regForm.email,
            password: this.regForm.password,
          }).then(() => {
            this.$message.success(this.$t('registration.sign_up_success'));
            this.$router.push({ name: 'Clients' });
          }).catch((error) => {
            this.handleError(error);
          });
        }
      });
    },
    resetForm() {
      this.$refs.regForm.resetFields();
    },
  },
};
</script>
