<template>
  <div class="lang-chooser">
    <span>{{ $t('choose_lang') }}</span>
    <el-select v-model="$i18n.locale">
      <el-option
        v-for="(lang, i) in langs"
        :key="`Lang${i}`"
        :value="lang"
        class="lang-chooser-option"
      >
        <img
          :src="getIconUrl(lang)"
          :alt="lang"
        >
        {{ lang }}
      </el-option>
    </el-select>
  </div>
</template>

<script>
export default {
  name: 'LangChooser',
  data() {
    return {
      langs: [ 'ru', 'en' ],
    };
  },
  methods: {
    getIconUrl(langString) {
      return require(`@/assets/img/icons/flags/${langString}.svg`);
    },
  },
};
</script>

<style lang="scss">
.lang-chooser {
  input {
    width: 90px;
    margin-left: 15px;
  }
}

.lang-chooser-option {
  img {
    width: 12px;
    height: 12px;
  }
}
</style>
