<template>
  <div class="user-panel">
    <el-container
      v-if="loading"
      direction="vertical"
      v-loading="loading"
    />
    <el-container
      direction="vertical"
      v-else
    >
      <div class="user-email">
        {{ user.email }}
      </div>
      <el-button
        type="text"
        @click="logout"
      >
        {{ $t('sign_out') }}
      </el-button>
    </el-container>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import errorHandlerMixin from '@/mixins/errorHandler';
export default {
  name: 'UserPanel',
  mixins: [ errorHandlerMixin ],
  data() {
    return {
      loading: true,
    };
  },
  computed: {
    ...mapState('user', [ 'user' ]),
  },
  methods: {
    ...mapActions('user', [ 'setUser', 'getUser' ]),
    logout() {
      this.setUser(null);
      this.$router.push({ name: 'Login' });
    },
  },
  async created() {
    if (!this.user) {
      const userUid = window.localStorage.getItem('userUid');
      try {
        const user = await this.getUser(userUid);
        this.setUser(user);
      } catch (error) {
        this.handleError(error);
        this.$router.push({ name: 'Login' });
      }
    }
    this.loading = false;
  },
};
</script>

<style lang="scss">
  .user-panel {
    min-width: 60px;
    max-width: 100%;
  }

  .user-email {
    text-decoration: underline dotted;
    text-underline-position: under;
  }
</style>
