<template>
  <div id="app">
    <non-auth-layout v-if="$route.name === 'Login' || $route.name === 'Registration'" />
    <auth-layout v-else />
    <router-view />
  </div>
</template>

<script>
import AuthLayout from '@/components/Layouts/AuthLayout.vue';
import NonAuthLayout from '@/components/Layouts/NonAuthLayout.vue';

export default {
  components: { AuthLayout, NonAuthLayout },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

html {
  font-size: 14px;

  @media (max-width: 767px) {
    font-size: 13px;
  }
}
</style>
