<template>
  <el-dialog
    :visible="showForgotPasswordDialog"
    @update:visible="closeDialog"
  >
    <el-form
      :model="emailForm"
      status-icon
      :rules="rules"
      ref="emailForm"
    >
      <el-form-item
        :label="$t('enter_email')"
        prop="email"
      >
        <el-input
          type="email"
          v-model="emailForm.email"
          autocomplete="off"
        />
      </el-form-item>
    </el-form>
    <span class="dialog-footer">
      <el-button @click="closeDialog">{{ $t('cancel') }}</el-button>
      <el-button
        type="primary"
        @click="sendEmail"
        :loading="loading"
      >{{ $t('send') }}</el-button>
    </span>
  </el-dialog>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'ForgotPasswordDialog',
  props: {
    showForgotPasswordDialog: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      emailForm: {
        email: '',
      },
    };
  },
  computed: {
    ...mapState('loading', [ 'loading' ]),
    rules() {
      const rules = {
        email: [
          { required: true, message: this.$t('enter_email'), trigger: 'blur' },
          {
            type: 'email',
            message: this.$t('enter_correct_email'),
            trigger: [ 'blur', 'change' ],
          },
        ],
      };
      return rules;
    },
  },
  methods: {
    closeDialog() {
      this.$emit('update:showForgotPasswordDialog', false);
    },
    sendEmail() {
      this.$refs.emailForm.validate((valid) => {
        if (valid) {
          this.$emit('sendEmail', this.emailForm.email);
        }
      });
    },
  },
};
</script>

<style lang="scss">
@import './src/assets/scss/entry.scss';
.el-dialog {
  width: 100% !important; 
  @media ($minTablet) {
    width: 30% !important;
  }
}
</style>
